<h1>Centro de mensajes</h1>
<div id="porcentajeDiv">

</div>

<div class="box">
    <form onsubmit="return onMessage()">
        <label for="mail">Mail</label>
        <input required id="mail" type="text" placeholder="Ingrese correo">
        <br>
        <label for="nombre">Nombre</label>
        <input required id="nombre" type="text" placeholder="Ingrese correo">
        <br>
        <label for="apellido">Apellido</label>
        <input required id="apellido" type="text" placeholder="Ingrese correo">
        <br>
        <label for="edad">Edad</label>
        <input required id="edad" type="text" placeholder="Ingrese correo">
        <br>
        <label for="alias">Alias</label>
        <input required id="alias" type="text" placeholder="Ingrese correo">
        <br>
        <label for="avatar">Avatar</label>
        <input required id="avatar" type="text" placeholder="Ingrese correo">
        <h3>Mensajes</h3>
        <div id="messagesDiv">
        </div>
        <br>
        <input id="message" type="text" placeholder="Ingrese mensaje">
        <input type="submit" value="Enviar" />
    </form>
</div>