<h1>Lista de Productos</h1>
{{!-- {{#if products }} --}}
<div class="box">
    <div id="divErrors"></div>
    <table id="tableProductos">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody id="tbodyProductos">
            {{!-- {{#each products}} --}}
            {{!-- <tr> --}}
                {{!-- <td>{{title}}</td> --}}
                {{!-- <td>{{price}}</td> --}}
                {{!-- <td><img src={{thumbnail}} alt="imagen" height="50px" width="50px" /></td> --}}
                {{!-- </tr> --}}
            {{!-- {{/each}} --}}
        </tbody>
    </table>
</div>
{{!-- {{else}}
<div class="box">
    <h2>No hay productos registrados</h2>
</div>
{{/if}} --}}